*{
    box-sizing: border-box;
}
html,body{
    padding: 0;
    margin: 0;
}
.header_area{
    padding: 0 10%;
}
.top_menu{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
}
.phone-number{
    text-transform: uppercase;
    color: #aaa;
}
.right_side{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-column-gap:20px;
}
.right_side li {
    list-style: none;
    position: relative;
   /* border-right: 1px solid red; */
}
.right_side li::after {
    content: "";
    position: absolute;
    height: 50%;
    width: 1px;
    background: #aaa;
    margin-top: 5px;
    right: -10px;
    top: 0;
}
.right_side li:last-child::after {
    display: none;
}

.right_side a{
    color: #aaa;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}
/* main menu */
.navbar-toggler{
    display: none;
}

.navbar-brand{
    width: 30%;
}
.container-fluid{
    display: flex;
}
.navbar-collapse{
    width: 70%;
}
.menus{
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: space-between;
}
.menus ul{
    padding: 0;
}
.center_nav{
    display: flex;
}
.nav-item{
    position: relative;
    transition: all 1s ease;
    padding: 0 5px;
    width: 60px;
}
.dropdown-menu{
    background-color: #aaa;

}
.dropdown-menu li{
    padding:5px  10px;
    transition: all 1s ease;
    width: 120px;
    border-bottom: 1px solid rgb(150, 129, 129);
}
.dropdown-menu li:hover{
    background-color: rgba(0, 0, 255, 0.784);
}
.nav-link{
    color: black;
    
}
.submenu:hover .dropdown-menu{
    opacity: 1;
    pointer-events: all;
    visibility: visible;
}
.dropdown-menu{
    position: absolute;
    top: 20px;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 1s ease;

}
.dropdown-menu li a{
    color: white;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.navbar-right{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-column-gap: 10px;
}
.navbar-right .nav-item{
    width: fit-content;
}
.navbar-right .nav-item i{
    color: black;
}
.main_menu{
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1000;
    padding: 10px 5%;
}
.banner_inner{
    background:linear-gradient(to bottom, #48434396, #48434396) ,url("../img/banner/banner-bg.jpg");
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;

}
.banner_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
}
.banner_content-wrap{
    width: 70%;
    height: 200px;
}

/* brand */

.clients_slider{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 40px 5%;
}
.clients_slider img{
    opacity: 0.5;
    transition: all 0.3s ease;

}
.clients_slider img:hover{
    opacity: 1;
}
.products{
    width: 100%;
    display: grid;
    /* grid-template-columns: repeat(4,auto);
    grid-gap: 20px; */
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    grid-gap:20px;
   
}








.instafeed{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap:10px;
    width: fit-content;
}
.instafeed li{
   
}